<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Pierre-Emmanuel Tanguy</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
      <script language="Javascript">
    window.onload=function(){
    var mobile = (/iphone|ipad|ipod|android|blackberry|mini|windows\sce|palm/i.test(navigator.userAgent.toLowerCase()));
    if (mobile) {
        document.getElementsByTagName('body')[0].innerHTML = '';
        const text = `<br><br><br><div style="display: flex; flex-direction: column; text-align:center; justify-content: center; padding: 5%;"><h3 style="color: white; font-family: 'Quicksand', sans-serif;"> Go to </h3> <a href="http://www.petanguy.com"><h3>www.petanguy.com</h3></a> <h3 style="color: white; font-family: 'Quicksand', sans-serif;"> on a laptop device to get an optimal display.</h3><div>`
        document.getElementsByTagName('body')[0].innerHTML = text;

    } else {

    }
  }
  </script>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_pack_tag 'application' %>

  </body>
</html>


